backend "consul" {
    address = "consul.consul:8500"
    path = "vault"
    advertise_addr = "{{getv "/self/container/primary_ip"}}"
}

listener "tcp" {
    address = "0.0.0.0:8200"
    tls_disable = 1
}
