backend "{{getv "/services/vault/metadata/backend"}}" {
    address = "consul.consul:8500"
    path = "vault"
    advertise_addr = "http://{{getv "/self/host/agent_ip"}}:8200"
}

listener "tcp" {
    address = "0.0.0.0:8200"
    tls_disable = 1
}

telemetry {
    statsite_address = "0.0.0.0:8125"
      disable_hostname = true
      tls_disable = 1
}
