backend "{{getv "/services/vault/metadata/backend"}}" {
    address = "consul.consul:8500"
    path = "vault"
    advertise_addr = "http://{{getv "/self/host/agent_ip"}}:{{getv "/services/vault/metadata/vault_port"}}"
}

listener "tcp" {
    address = "0.0.0.0:8200"
    tls_disable = 1
}

